fullnameOverride: unleash-home-exercise

replicaCount: 1

image:
  repository: rollersweet/unleash-home-exercise
  tag: "latest"
  pullPolicy: Always

containerPort: 3000
# bucketName: unleash-tm-app-s3-bucket

livenessProbe:
  enabled: true
  tcpSocket:
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2

readinessProbe:
  enabled: true
  tcpSocket:
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 2

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: unleash.tamirmadar.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - unleash.tamirmadar.com
      secretName: unleash-tls

serviceAccount:
  create: true
  automount: true
  name: unleash-home-exercise
  # annotations:
  #   eks.amazonaws.com/role-arn: arn:aws:iam::12345678910:role/app-s3-role
