name: Unleash CI/CD

on:
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: docker build -t rollersweet/unleash-home-exercise:latest .

      - name: Push
        run: docker push rollersweet/unleash-home-exercise:latest

  cd:
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install jq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq

      - name: Setup Helm
        uses: azure/setup-helm@v4.3.0

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"

      - name: Kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name unleash-tm-eks

      - name: Create app deps (S3 + IRSA)
        working-directory: ./terraform/live/app_deps
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Deploy
        run: |
          tf_outputs=$(terraform -chdir=./terraform/live/app_deps output -json)
          bucketName=$(jq -r '.bucket_name.value' <<< "$tf_outputs")
          roleArn=$(jq -r '.bucket_arn.value' <<< "$tf_outputs")

          test -n "$bucketName" && test "$bucketName" != "null"
          test -n "$roleArn" && test "$roleArn" != "null"

          helm upgrade --install unleash-home-exercise charts/unleash-home-exercise \
            -n unleash \
            --create-namespace \
            --set-string "bucketName=${bucketName}" \
            --set-string "serviceAccount.annotations.eks\.amazonaws\.com/role-arn=${roleArn}"
